<!DOCTYPE html>
{% import 'bootstrap/wtf.html' as wtf %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>

<style>
  .custom-button {
  background-color:#465E76;
  color:#ffffff;
  border-color:#ffffff;
  }

  .forget-pass{
  color:#465E76;
  border-color:#ffffff;
  }

</style>

<body>
{% include 'bootstrap-cdn.html' %}

<div class="container-fluid" style="margin-top:70px">
    <div class="row">
        <div class="col-md-6 ">
            <!--        to make the image responsive, add class='img-fluid'-->
            <img src="{{url_for('static',filename='front1.jpg')}}" class="img-fluid" style="height:420px;width:420px" alt="Front Page Image">
        </div>
        <div class="container-fluid col-md-4 col-sm-6">
            <h2 style="display:flex;justify-content:center;color:#E55C2C">Doctor's AI Pal</h2>
            <br>
            <form method="post" style="display:flex;flex-direction:column">
                {{form.csrf_token}}

                {{form.email(placeholder='Email',style='margin-bottom:20px')}}

                <div class="input-group" style="margin-bottom:10px">
                    {{form.password(placeholder='Password',class='form-control password-input')}}
                </div>

                <div>
                    <button type="button" style="margin-bottom:20px" class="btn btn-light"
                            onclick="togglePasswordVisibility()">
                        <i class="fas fa-eye" id="toggle-password"></i>
                    </button>
                </div>

                {{form.submit(style='margin-bottom:20px;background-color:#465E76; color:white;')}}
                <a class="btn custom-button" style="margin-bottom:20px" href="{{url_for('register')}}">Register</a>
                <a class="btn forget-pass" style="display:flex;justify-content:center" href="{{url_for('send_token')}}">Forget
                    Password</a>

                <div class="container-fluid" style="display:flex;justify-content:center">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p style="color:#e55c2c">{{message}}</p>
                    {% endfor %}
                    {% endif%}
                    {% endwith %}
                </div>
            </form>

        </div>
    </div>

</div>

<script src="https://kit.fontawesome.com/442f99fa38.js" crossorigin="anonymous"></script>

<script>
    function togglePasswordVisibility() {
    const passwordInput = document.querySelector('.password-input');
    const toggleButton = document.querySelector('#toggle-password');
    if(passwordInput.type =='password') {
    passwordInput.type='text';
    toggleButton.classList.remove('fa-eye');
    toggleButton.classList.add('fa-eye-slash');
    } else {
    passwordInput.type='password';
    toggleButton.classList.remove('fa-eye-slash');
    toggleButton.classList.add('fa-eye');
    }
    }
    window.addEventListener('DOMContentLoaded',function() {
    const passwordInput = document.querySelector('.password-input');
    passwordInput.type='password';
    });

</script>


</body>
</html>